<html>
    <h1>Olá mundo</h1>
    Bem-vindo ao site django

    <ul>
        <a href="/"><li>Home</li></a>
        <a href="/sobre"><li>Sobre</li></a>
        <a href="/contato"><li>Contato</li></a>
        <a href="/planos"><li>Planos</li></a>
    </ul>

    <h2>Produtos</h2>

    <form method="post">
        {% csrf_token %}
        
        {{ form.as_p }}

        <button type="submit">Enviar</button>
    </form>

    <table style="border: solid 2px">
        {% for produto in produtos %}
        <tr>
            <td style="border: solid 1px">{{produto.nome_prod}}</td>
            <td style="border: solid 1px">{{produto.quantidade}}</td>
            <td style="border: solid 1px">{{produto.preco}}</td>
        </tr>
        {% endfor %}
    </table>

</html>